.body {
	width: 500px;
 	height: 720px;
	border-image-outset: 100px;
	background: url('./img/Background.jpg');
	background-position: center;
}
.welcome {
	color: #AFEEEE;
	margin-left: 15px;
    padding-left: 100‒;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 200px;
}